@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

body{
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}
*{
	margin:0px;
	padding:0px;
	font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6,ul,p{
	margin:0px;
	padding:0px;
}
/*----Heading-----*/
.heading{
	display: inline;
	width:100%;
	float:left;
	text-align:center;
	margin-bottom:40px;
}
.heading h2{
	font-size:40px;
	font-weight:700;
	margin-bottom:10px;
	color:#000;
	font-family: 'Lato', sans-serif;
}
.heading p{
	font-size:20px;
	color:#000;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}
/*--Preloader--*/
#preloader{
	background-color: #fff;
	position: fixed;
	text-align: center;
	left:0;
	right:0;
	bottom:0;
	top:0;
	width:100%;
	height: 100%;
	z-index: 9999;
}
#preloader .preloader-area{
	position: relative;
	top:45%;
}
/*--Scroll To Top--*/
.scrollToTop {
    bottom: 50px;
    color: #054e97;
    display: none;
    font-size: 17px;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
    padding: 5px 0;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 999;
    border:1px solid #054e97;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    height:50px;
    border-radius: 50%;
    font-weight: 700;
  }
  .scrollToTop span{
    display: block;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 700;
    margin-top: 8px;
  }
  .scrollToTop:hover{
    background-color: #054e97;
    color:#fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
  }

/*----Start header----*/
#header{
	left: 0;
  right: 0;
  top: 0;
  z-index: 999;
	display: inline;
	width:100%;
	float:left;
	padding:20px 60px;
	background-color: #000000;
	height:auto;
	font-family: 'Lato', sans-serif;
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#header .navbar{
	margin-bottom: 0px;
}
#header .navbar-default{
	background-color: transparent;
	border:0;
}
#header .navbar-brand{
	padding:0px;
}
#header .navbar-brand{
	width:60px;
}
#header .navbar-nav > li{

}
#header .navbar-nav > li a{
	background-color: transparent;
	font-size:16px;
	font-weight: bold;
	-webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;	
}
#header .navbar-nav > li a:hover, #header .navbar-nav > li a:focus{
	color:#fff;
}
.navbar-bg{
	padding:10px 60px!important;
	position: fixed;
	-webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;	
}
/*----header end-----*/
/*----home-----*/
#home {
	display: inline;
	float:left;
	width:100%;
  background-color: #054e97;
  padding: 50px 0px;
}

#home .home-cnt h1{
  color: #fff;
  font-size:40px;
}
#home .home-cnt p{
	font-size:18px;
	margin:20px 0px;
	color:#fff;
	font-weight:400;
}
#home .home-cnt form{
	display: inline;
	width:100%;
	float:left;
	margin-bottom: 50px;
}
#home .home-cnt .input-icon {
  position:relative;
}
#home .input-icon svg{
	position:relative;
	left:30px;
}
#home .home-cnt form li {
  list-style: none;
  display: inline-block;
}
#home .home-cnt form li input {
  width: 250px;
  padding: 5px 10px 5px 30px;
  text-align: left;
  border-radius: 3px;
  outline: 0;
  border: none;
}
#home .home-cnt form li button {
  background-color: #ffbb42;
  color: #fff;
  border: none;
  margin-bottom: 3px;
  margin-left:20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#home .home-cnt form button:hover, #home .home-cnt form button:focus{
	background-color:#000;
	outline:0;
}
/*----Home slider-----*/
#home .home-slider{
	display: inline;
	width:100%;
	float:left;
}
#home .home-slider .single:focus{
	outline:0;
}
#home .home-slider .single img {
  width: 600px;
  margin: 0 auto;
}
#home .home-slider .slick-next, #home .home-slider .slick-prev{
	background:0;
}
#home .home-slider .slick-next:before, #home .home-slider .slick-prev:before{
	font-size:40px;
	color:#fff;
}
/*----home end-----*/
/*----services-----*/
#service{
	display: inline;
	float:left;
	width:100%;
	padding:100px 0px;
}
#service .service-content{
	display: inline;
	width:100%;
	float:left;
	padding:10px 0px;
}
#service .service-single{
	display: flex;
	width:100%;
	float:left;
	margin-bottom: 40px;
	padding:0px 10px;
}
#service .service-single .left{
	display: inline;
	width:20%;
	float:left;
}
#service .service-single .right{
	display: inline;
	width:100%;
	float:left;
	margin-left:30px;
}
#service .service-single .right h3{
	margin:0px 0px 20px 0px;
	font-size:30px;
	text-align: left;
	font-weight: 700;
}
#service .service-single .right p{
	line-height: 25px;
	font-size:18px;
}
#service .service-single svg{
	font-size:50px;
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#service .service-single:hover svg{
	color:#f89b64;
}
/*----services end-----*/
/* -----about-us----- */
#about{
	display: inline;
	float:left;
	width:100%;
}
#about .container-fluid{
	padding:0px;
	width:100%;
	float:left;
	display: inline;
}
#about .col-md-6{
	padding:0px;
}
#about .about-img{
	display: inline;
	width:100%;
	float:left;
}
#about .about-img img{
	width:100%;
	float:left;
	display: inline;
	height: 500px;
}
#about .about-cnt{
	background-color:#ffc155;
	display: inline;
	width:100%;
	float:left;
	padding:100px 100px 50px 50px;
	text-align: left;
	height:500px;
}
#about .about-cnt h3{
	font-size:30px;
	font-weight: 700;
	color:#fff;
}
#about .about-cnt p{
	font-size:16px;
	color:#fff;
	margin-top: 10px;
	margin-bottom: 30px;
	line-height: 25px;
}
#about .about-cnt button{
	margin-top:10px;
	border:1px solid #709dca;
	background-color: transparent;
	font-size:16px;
	outline:0!important;
	color:#709dca;
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#about .about-cnt button:hover, #about .about-cnt button:focus{
	background-color:#709dca;
	color:#fff; 
}
/* -----about-us end----- */
/* -----pricing---- */
#pricing{
	display: inline;
	width:100%;
	float:left;
	background-color:#e7edf3;
	padding:100px 0px;
}
#pricing .pricing-content{
	display: inline;
	width:100%;
	float:left;
	margin-top:20px;
}
#pricing .pricing-content .col-sm-4{
	padding:0;
}
#pricing .pricing-single:not(.middle){
	background-color:#fff;
	padding:40px 30px;
	box-shadow: inset 0px 0px 118px -10px #555;
}
#pricing .pricing-content .first{
	border-radius:10px 0px 0px 10px;
}
#pricing .pricing-content .last{
	border-radius:0px 10px 10px 0px;
}
#pricing .pricing-single h4{
	font-size:20px;
	margin-bottom:10px;
	font-weight: 700;

}
#pricing .pricing-single span svg{
	font-size:20px;
	color:#ffbb42;
	margin-bottom:20px;
}
#pricing .pricing-single .number{
	font-size:50px;
	color:#ffbb42;
	font-weight:500;
}
#pricing .pricing-single h5{
	margin-bottom:20px;
	font-weight: bold;
}
#pricing .pricing-single ul li{
	list-style:none;
	padding:10px 0px;
	border-top:1px solid gray;
}
#pricing .pricing-btn{
	background-color:#ffbb42;
	border:none;
	font-size:14px;
	color:#fff;
	padding:5px 10px;
	border-radius: 3px;
	margin-top:20px;
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#pricing .pricing-btn:hover, #pricing .pricing-btn:focus{
	background-color: #ba8017;
	outline:0;
}
#pricing .middle{
	padding:50px 40px;
	border-radius:10px;
	background-color: skyblue;
	margin-top:-10px;
	color:#fff;
}
/* -----pricing end---- */


/* -----how-it-works----- */
#how-it-work{
	display: inline;
	float:left;
	width:100%;
	padding:100px 0px;
	background-color: #fff;
}
#how-it-work .work-content{
	display: inline;
	width:100%;
	float:left;
	padding:30px 0px;
}
#how-it-work .work-single{
	padding:20px;
	display: inline;
	width:100%;
	float:left;
	box-shadow: 0px 0px 10px -6px #d4d2ee;
	border-radius: 10px;
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#how-it-work .work-single:hover{
	box-shadow: 0px 0px 10px -2px #d4d2ee;
}
#how-it-work .work-single svg{
	font-size:60px;
	margin-bottom:30px;
	color:#709dca;
}
#how-it-work .work-single h4{
	margin-bottom:20px;
	font-size:25px;
	font-weight: 700;
}
#how-it-work .work-single p{
	line-height: 25px;
	font-size:18px;
}
#how-it-work button{
	margin-top:30px;
	background-color:#ffbb42;
	color:#fff;
	border:none;
	padding:8px 10px;
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#how-it-work button:focus, #how-it-work button:hover{
	background-color: #f49e05;
	outline:0;
}
/* -----how-it-works end----- */
/* -----happy clients--- */
#clients{
	display: inline;
	width:100%;
	float:left;
	background-color:#ffc155;
	padding:100px 0px;
	height:auto;
}
#clients .client-content{
	display: inline;
	float:left;
	width:100%;
}
#clients .clients-single{
	padding:30px 20px 20px 20px;
	background-color: #fff;
	display: flex;
	width:100%;
	float:left;
	margin-bottom: 20px;
}
#clients .clients-img{
	width:55%;
}
#clients .clients-img img{
	width:100%;
	border-radius: 50%;
}
#clients .clients-cnt{
	width:100%;
	padding-left:20px;
}
#clients .clients-cnt p{
	font-size:16px;
	line-height: 25px;
	position: relative;
	width:100%;
}
#clients .clients-cnt p::after{
	content: "“";
	position: absolute;
	top: -5%;
  left: -7%;
	font-size:50px;
}
#clients .clients-cnt p::before{
	content: "”";
	position: absolute;
	bottom:-20%;
	right:0;
	font-size:50px;
}
#clients .clients-cnt h5{
	font-size:18px;
	font-weight:700;
	text-align: left;
	margin-top:15px;
}
#clients .clients-cnt span{
	color:#ffc155;
}

/* -----happy clients end--- */
#newsletter{
	padding:50px;
	display: inline;
	width:100%;
	float:left;
}
#newsletter .input-icon{
	position:relative;
}
#newsletter form li{
	list-style:none;
	display:inline-block;
}
#newsletter form input{
	width:280px;
	padding: 3px 0px 3px 30px;
	outline:0;
	border-radius:3px;
	border:1px solid gray;
	
}
#newsletter form svg{
	left:30px;
	color:black;
	position:relative;
}
#newsletter button{
	background-color:#ffbb42;
	padding:5px 10px;
	border:none;
	outline:0;
	margin-bottom:3px;
	margin-left:15px;
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#newsletter button:hover, #newsletter:focus{
	background-color: #b47910;
}
/*------End newsletter-----*/
/*-----Start Map-----*/
#map{
	background-image:url("../media/Layer-131.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	float:left;
	height:100%;
	text-align: center;
	padding: 100px 0px 220px 0px;
}
#map .map-cnt{
	display: flex;
	align-items: center;
	justify-content: center;
}
#map .address{
	width:270px;
	height:270px;
	float:left;
	margin-top:100px;
	margin:0 auto;
	display: inline;
}
#map .map-cnt .overlay{
	background-color: #555;
	border-radius: 50%;
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
#map .address .overlay::before{
	content: "";
  position: absolute;
  top: 99%;
  left: 50%;
  margin-left: -22px;
  border-width: 20px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
#map .address .overlay h4{
	color:#fff;
	margin-bottom:20px;
	font-size:25px;
}
#map .address .overlay li{
	list-style:none;
	color:white;
	font-size:16px;
}
#map .address .address-logo{
	margin-top:50px;
}
/*-----End map-----*/
/* footer*/
/* footer-menu */
footer{
	display: inline;
	float:left;
	width:100%;
}
/* footer social */
footer .social{
	display: inline;
	width:100%;
	float:left;
	border-top:1px solid #d3cece;
	margin-top:30px;
	padding:30px 0px;
}
footer .social ul{
	margin-bottom: 0px;
}
footer .social ul li{
	list-style:none;
	display:inline-block;
	margin:0px 20px;
	text-align:center;
	padding:8px 10px;
	border:1px solid #1372E1;
	width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color:#1372E1;
  font-size:20px;
  border-radius: 50%;
}
footer .social ul li:hover, footer .social ul li:focus{
	background-color: #1372E1;
	color:#fff;
}
footer .social svg{
	margin-top:7px;
}
/* copyright */
#copyright{
	display: inline;
	float:left;
	width:100%;
	background-color:#1372E1;
	padding:20px 0px;
	color:white;
}
#copyright p{
	margin:0px;
	font-size:18px;
}
#copyright span{
	color:#000;
	font-size:18px;
	font-weight: 700;
}
/* footer*/

/*# sourceMappingURL=style.css.map */
/*------Media queries-----*/
@media (max-width:1199px){
	#home .home-cnt form li input {
    width: 200px;
  }
	#service{
		padding:60px 0px;
	}
	#service h3{
		font-size:25px!important;
		margin: 0px 0px 15px 0px!important;
	}
	#service p{
		font-size:16px!important;
	}
	#about .about-cnt {
    padding: 80px 60px 40px 40px;
  }
  #pricing{
  	padding:60px 0px;
  }
  #how-it-work{
  	padding:60px 0px;
  }
  #clients{
  	padding:60px 0px;
  }
  #clients .clients-cnt p {
    line-height: 22px;
  }
}
@media (max-width:991px){
	.heading{
		margin-bottom: 30px;
	}
	.heading h2{
		font-size:35px;
	}
	.heading p{
		font-size:18px;
	}
	#header{
		padding: 15px 30px;
	}
	.navbar-bg{
		padding:10px 30px!important;
	}
	.navbar-collapse{
		margin:0px;
	}
	#home{
		padding:40px 0px;
	}
	#home .home-cnt form li input {
    width: 160px;
	}
	#service {
    padding: 50px 0px;
	}
	#service .service-single{
		margin-bottom: 30px;
	}
	#service .service-single .right {
    margin-left: 20px;
	}
	#service .service-single svg {
    font-size: 40px;
  }
  #about .about-cnt {
    padding: 50px 120px;
    height: 370px;
	}
	#pricing{
		padding:50px 0px;
	}
	#pricing .pricing-single:not(.middle) {
    padding: 30px 20px;
	}
	#pricing .middle {
    padding: 40px 35px;
	}
	#pricing .pricing-single .number {
    font-size: 45px;
  }
	#how-it-work{
  	padding:50px 0px;
  }
  #how-it-work .work-content {
    padding: 20px 0px;
	}
	#how-it-work .work-single{
    margin-bottom: 30px;
  }
  #how-it-work button {
    margin-top: 0px;
  }
  #clients {
    padding: 50px 0px;
	}
	#newsletter {
    padding: 40px 0px;
  }
	#newsletter form input {
    width: 240px;
  }
}
@media (max-width:767px){
	.heading {
    margin-bottom: 20px;
	}
	.heading p{
		font-size:15px;
	}
	.navbar-collapse{
		margin-top:20px;
	}
	#home {
    padding: 30px 0px;
	}
	#home .home-cnt h1 {
  font-size: 35px;
	}
	#home .home-cnt p {
    font-size: 16px;
    margin: 15px 0px;
  }
	#home .home-cnt form li input {
    width: 150px;
	}
	#home .home-slider .single img{
		width:500px;
	}
	#service{
		padding:30px 0px;
	}
	#service .service-single .left {
    width: 10%;
  }
  #about .about-img img {
    height: 420px;
	}
	#about .about-cnt {
    padding: 15px 100px;
	}
	#pricing {
    padding: 30px 0px;
	}
	#pricing .pricing-content .col-sm-4 {
    padding: 15px;
	}
	#pricing .pricing-content .middle, #pricing .pricing-content .first, #pricing .pricing-content .last {
		border-radius: 10px;
	}
	#how-it-work {
    padding: 30px 0px;
	}
	#clients {
    padding: 30px 0px;
	}
	#clients .clients-img {
    width: 25%;
	}
	#clients .clients-cnt {
    padding-left: 40px;
	}
	#newsletter {
    padding: 30px 0px;
	}
	#newsletter form input {
    width: 180px;
	}
	#map .address {
    width: 250px;
    height: 250px;
  }
  #map .address .overlay h4 {
    margin-bottom: 10px;
  }
  footer .social {
    padding: 20px 0px;
	}
}
@media (max-width:640px){
	#home {
    padding: 20px 0px;
	}
	#home .home-cnt form li button {
    margin-top: 15px;
  }
  #service{
  	padding:20px 0px;
  }
  #service .service-single {
    margin-bottom: 20px;
	}
  #pricing{
  	padding:20px 0px;
  }
  #pricing .pricing-content {
    margin-top: 0px;
	}
  #how-it-work{
  	padding:20px 0px;
  }
  #clients{
  	padding:20px 0px;
  }
  #about .about-cnt {
    padding: 15px 60px;
	}
	#map{
		padding: 0px 0px 70px 0px;
	}
	#map .address {
    width: 220px;
    height: 220px;
	}
}
@media (max-width:540px){
	#home .home-cnt form li button {
    margin-top: 5px;
	}
	#home .home-cnt h1 {
    font-size: 30px;
    margin-top:10px;
	}
	#home .home-slider .single img {
    width: 400px;
	}
	.heading h2 {
    font-size: 30px;
	}
	#about .about-cnt {
    padding: 10px 40px;
	}
	#about .about-cnt p {
		margin-bottom: 20px;
	}
	#about .about-cnt button {
    margin-top: 0px;
  }
  #newsletter button{
  	margin-top: 10px;
  }
  footer .social ul li {
    margin: 0px 10px;
    height:45px;
    width:45px;
  }
  footer .social ul li svg{
    font-size:20px;
    margin-top:4px;
  }
  #copyright p {
    font-size: 15px;
	}
	.scrollToTop {
    bottom: 30px;
  }
}
@media (max-width:440px){
	#home .home-cnt form li:not(:last-child) {
    margin-bottom: 10px;
	}
	.heading h2 {
    font-size: 28px;
	}
	#home .home-slider .single img{
		width:310px!important;
	}
	#home .home-cnt form li input {
    width: 180px!important;
	}
	#about .about-img img {
    height: 370px;
	}
	#about .about-cnt {
    padding: 10px 20px;
    height:385px;
	}
	#about .about-cnt h3{
		margin:0px;
	}
	#about .about-cnt p{
		line-height: 22px;
	}
	#service h3{
		font-size:20px;
	}
	#clients .clients-cnt {
    padding-left: 14px;
	}
	#clients .clients-cnt p {
    line-height: 18px;
	}
	#newsletter form li{
		margin-bottom:10px;
	}
	footer .social ul li {
    margin: 0px 5px;
    height: 40px;
    width: 40px;
    padding: 4px 10px;
	}
}
